/app/*
!/app/addons
/app/addons/*
!/app/addons/my_module


/images/*
!/images/my_module

/admin.php
/api.php
/changelog.txt
/config.local.php
/config.php
/copyright.txt
/edost.txt
/index.php
/init.php
/install.html
/robots.txt
/store_closed.html
/.htaccess
/.gitignore
/upgrades

/design/*
!/design/backend
/design/backend/*

!/design/backend/css
/design/backend/css/*
!/design/backend/css/addons
/design/backend/css/addons/*
!/design/backend/css/addons/my_module

!/design/backend/templates
/design/backend/templates/*
!/design/backend/templates/addons
/design/backend/templates/addons/*
!/design/backend/templates/addons/my_module



!/design/themes
/design/themes/*
!/design/themes/yacht


/js/*
!/js/addons
/js/addons/*
!/js/addons/my_module

/var/*
!/var/langs/*

/.idea/**
