/* ==========================================================================
my_module
========================================================================== */
.t-32px{
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1.5px;
}
.t-15px{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.t-12px{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px!important;
}
body, .tygh-footer > div{
  background: #fff!important;
}
.main-padding{
  padding: 0 100px;
}
body, p, div, li, a, h1, h2, h3, h4{
  font-family: Inter !important;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -1px;
  color: #000000;
}
a:hover{
  text-decoration: none;
  color:#1DD1B9!important;
}
.top-grid{
  padding: 0!important;
}
.tygh-top-panel{
  border-bottom: none!important;
  background: #FFFFFF;
}
.covid{
  background: #EDEDED;
  text-align: center;
  font-size: 12px!important;
  line-height: 16px;
  letter-spacing: -0.5px;
}

.logo{
  min-width: 120px;
  padding: 0!important;
}

.logo a{
  font-size: 20px!important;
  line-height: 32px;
  font-weight: 800;
}
.main-header{
  margin: 10px 20px;
}
.main-header a{
  color:#000000
}
.ty-select-block__a{
  min-width: 30px;
}
.header-nav a{
  font-size: 17px!important;
  line-height: 24px!important;
  font-weight: 400;
  margin: 0 20px;
  letter-spacing: -0.1px;
}
.right{
  padding: 0!important;
}
.right > div{
  margin: 0 10px;
}
.weather{
  min-width: 45px;
}
.add_boat, .weather span, .ty-select-block__a-item{
  font-size: 11px!important;
  font-weight: 600;
  line-height: 16px;
}
.add_boat{
  text-transform: uppercase;
  color:#2466F6!important;
  min-width: 70px;
}
.add_boat:hover{
  cursor: pointer;
}
.add_boat:hover path{
  color: #1DD1B9;
  fill: #1DD1B9;
}
.ty-dropdown-box__title{
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 3px 0 3px 5px!important;
  min-width: 56px;
}
.ty-account-info__title{
  position: relative;
}
.ty-account-info__title i{
  vertical-align: middle;
}
.ty-icon-moon-user{
  padding: 3px;
  border: 2px solid gray;
  color: #ffffff;
}
.circle{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #EB2A50;
  border: 1px solid #F0F0F0;
  position: absolute;
  right: 3px;

}
#dropdown_247{
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  border:none;
}
.ty-account-info{
  margin: 8px;
}
.ty-account-info li{
  font-weight: 500!important;
  cursor: pointer;
  padding: 10px 15px!important;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  font-style: normal;
}
.ty-account-info li span{
  //font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  border-radius: 3.5px;
  padding: 2px 8px;
}
.new{
  background: #EB2A50;
  color: #fff;
}
.old{
  background: rgba(0, 0, 0, 0.1);
 }

// Support
.support{
  background: #fff;
  margin: 40px 0;
}
.bot-br{
  border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.wrap-sup ul{
  width: 30%;
}
.wrap-sup ul li, .wrap-sup ul li a{
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.3px;

}
.wrap-sup ul li:not(:first-child){
  padding: 20px 0;
}
.wrap-sup ul li:not(:first-child) a{
  font-weight: bold;

}
.wrap-sup ul li:first-child{
  padding: 16px 0;
}

.wrap-sup li a span{
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

// DONATE
.donate{
  background: #EDEDED;
  padding: 40px 100px;
}
.donate-text img{
  margin: 40px 0 0 0;
}
.donate-text,.donate-img{
  width:45%;
}
.donate-img{
  margin: 0 0 0 30px;
  min-width: 400px;
  max-width: 570px;

}
.donate-text a{
  text-decoration: underline;
}

// Bottom
.bottom{
  background: #F7F7F7;
  padding: 40px 100px;
}
.info{
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(0,0,0,0.4);
}
.info ul{
  width: 22.5%;
}
.info ul li a{
  font-size: 12px;
  line-height: 18px;
}

.info ul li:first-child{
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px!important;
}
.info ul li:not(:first-child){
  margin-bottom: 20px;
  opacity: 0.6;

}
.info ul li:not(:first-child) a{
  letter-spacing: 0.3px;
}

// under
.under .logo a{
  font-size: 14px!important;
  line-height: 18px;
  letter-spacing: -1px;
}
.under .left span{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
}
.under ul li a{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.right,.left{
  width: 30%;
}

@media (max-width: 1240px) {
  .header-nav a{
    font-size: 15px!important;
    line-height: 22px!important;
    font-weight: 400;
    margin: 0 20px
  }
  .logo a{
    font-size: 18px!important;
    line-height: 28px;
    font-weight: 800;
  }
  .add_boat, .weather span, .ty-select-block__a-item{
    font-size: 9px!important;
    font-weight: 600;
    line-height: 14px;
  }
}

/* /my_module */