/* ==========================================================================
my_module
========================================================================== */

.tygh-top-panel *{
font-size: unset!important;
}
.t-white{
  color:#fff;
}
.t-blue{
 color: #0090F9
}
.t-blue-a{
  color: #2466F6;
}
.t-gray{
  color: #8F9CB8;
}
.t-gray-op5{
  color: #000000;

  opacity: 0.5;
}
.t-green{
  color: #21A300;
}
.t-purple{
  color: #5D23C2;
}
.t-gold{
  color: #C2A823;
}


.margin_center{
  margin: 30px 80px;
}
.pointer{
  cursor: pointer;
}
.font-weight-300{
  font-weight: 300!important;
}
.font-weight-400{
  font-weight: 400!important;
}
.font-weight-500{
  font-weight: 500!important;
}
.font-weight-600{
  font-weight: 600!important;
}
.font-weight-700{
  font-weight: 700!important;
}
.font-weight-800{
  font-weight: 800!important;
}
.font-weight-900{
  font-weight: 900!important;
}
.t-86px{
  font-size: 86px;
  line-height: 80px;
  letter-spacing: -6px;
}
.t-32px{
font-size: 32px;
line-height: 36px;
letter-spacing: -1.5px;
}
.t-25px{
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.5px;
}
.t-28px{
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.t-22px{
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.t-21px{
  font-size: 21px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.t-17px{
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.t-19px{
  font-size: 19px;
  line-height: 20px;
  letter-spacing: -0.3px;
}
.t-18px{
  font-size: 18px!important;
  line-height: 20px;
  letter-spacing: -0.5px;
}
.t-16px{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3px;
}
.t-15px{
font-size: 15px;
line-height: 20px;
letter-spacing: -0.3px;
}
.t-14px{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.t-13px{
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
}
.t-12px{
font-size: 12px;
line-height: 18px;
letter-spacing: 1px!important;
}
.t-11px{
  font-size: 11px;
  line-height: 12px;
  letter-spacing: -0.1px;
}
body, .tygh-footer > div{
background: #fff!important;
}
.main-padding{
padding: 0 100px;
}
body, p, div, li, a, h1, h2, h3, h4{
font-family: Inter !important;
font-style: normal;
font-weight: normal;
letter-spacing: -1px;
color: #000000;
}
a:hover{
text-decoration: none;
color:#1DD1B9!important;
}
a:hover path{
  fill:#1DD1B9!important;
}
.top-grid{
padding: 0!important;
}
.tygh-top-panel{
border-bottom: none!important;
background: #FFFFFF;
}
.covid{
background: #EDEDED;
text-align: center;
font-size: 12px!important;
line-height: 16px;
letter-spacing: -0.5px;
}

.logo{
min-width: 120px;
padding: 0!important;
}

.logo a{
font-size: 20px!important;
line-height: 32px;
font-weight: 800;
}
.main-header{
margin: 10px 20px;
}
.main-header a{
color:#000000
}
.ty-select-block__a{
min-width: 30px;
}
.ty-select-block__a > *{
margin: 0 2px;
font-weight: 500;
font-size: 12px!important;
line-height: 16px;
}
.header-nav a{
font-size: 17px!important;
line-height: 24px!important;
font-weight: 400;
margin: 0 20px;
letter-spacing: -0.1px;
}
.right{
padding: 0!important;
}
.header .right > div{
margin: 0 10px;
}
.weather{
min-width: 45px;
white-space:nowrap;
}

.add_boat, .weather span, .ty-select-block__a-item{
white-space: nowrap;
font-size: 11px!important;
font-weight: 600;
line-height: 16px;
}
.add_boat{
text-transform: uppercase;
color:#2466F6!important;
min-width: 70px;
}
.add_boat:hover{
cursor: pointer;
}
.ty-select-wrapper:hover path{
fill:#1DD1B9;
}
.add_boat:hover path{
color: #1DD1B9;
fill: #1DD1B9;
}
.ty-dropdown-box__title{
border: 0.5px solid rgba(0, 0, 0, 0.2);
border-radius: 100px;
padding: 3px 0 3px 5px!important;
min-width: 56px;
}
.ty-account-info__title{
position: relative;
}
.ty-account-info__title i{
vertical-align: middle;
}
.ty-icon-moon-user{
padding: 3px;
border: 2px solid gray;
color: #ffffff;
}
.circle{
width: 5px;
height: 5px;
border-radius: 5px;
background: #EB2A50;
border: 1px solid #F0F0F0;
position: absolute;
right: 3px;

}
#dropdown_247{
background: #FFFFFF;
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
border-radius: 12px;
border:none;
}
.ty-account-info{
margin: 8px;
}
.ty-account-info li{
font-weight: 500!important;
cursor: pointer;
padding: 10px 15px!important;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.3px;
font-style: normal;
}
.ty-account-info li span{
//font-weight: 500;
font-size: 11px;
line-height: 12px;
border-radius: 3.5px;
padding: 2px 8px;
}
.new{
background: #EB2A50;
color: #fff;
}
.old{
background: rgba(0, 0, 0, 0.1);
}

// Support
.support{
background: #fff;
margin: 40px 0;
}
.bot-br{
border-bottom: 0.5px solid rgba(0,0,0,0.1);

}
.bot-br-3{
  padding-bottom: 40px;
  border-bottom: 0.5px solid rgba(0,0,0,0.3);
}
.wrap-sup ul{
width: 30%;
}
.wrap-sup ul li, .wrap-sup ul li a{
font-size: 17px;
line-height: 20px;
letter-spacing: -0.3px;

}
.wrap-sup ul li:not(:first-child){
padding: 20px 0;
}
.wrap-sup ul li:not(:first-child) a{
font-weight: bold;

}
.wrap-sup ul li:first-child{
padding: 16px 0;
}

.wrap-sup li a span{
font-weight: normal;
font-size: 15px;
line-height: 18px;
opacity: 0.3;
}

// DONATE
.donate{
background: #EDEDED;
padding: 40px 100px;
}
.donate-text img{
margin: 40px 0 0 0;
}
.donate-text,.donate-img{
width:45%;
}
.donate-img{
margin: 0 0 0 30px;
min-width: 400px;
max-width: 570px;

}
.donate-text a{
text-decoration: underline;
}

// Bottom
.bottom{
background: #F7F7F7;
padding: 40px 100px;
}
.bottom .info{
padding-bottom: 10px;
border-bottom: 0.5px solid rgba(0,0,0,0.4);
}
.info ul{
width: 22.5%;
}
.info ul li a{
font-size: 12px;
line-height: 18px;
}

.info ul li:first-child{
margin-bottom: 20px;
text-transform: uppercase;
letter-spacing: 1px!important;
}
.info ul li:not(:first-child){
margin-bottom: 10px;
opacity: 0.6;

}
.info ul li:not(:first-child) a{
letter-spacing: -0.3px;
}

// under
.under{
margin-top: 15px;
}
.under .logo a{
font-size: 14px!important;
line-height: 18px;
letter-spacing: 1px;
}
.under .left span{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
opacity: 0.6;
}
.under ul li{
  white-space: nowrap;
margin: 0 3px;
}
.under ul li a{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
}

.right{
width: 30%;
}
.left{
width: 45%;
}

.bottom .right > *{
font-weight: 500;
font-size: 12px;
line-height: 16px;
}
.bottom .left > *{
margin: 0 5px;
}
.social svg{
cursor:pointer;
}
.under svg:hover{
fill: #1DD1B9;
}
// mini_search
.search_mini{
  background: #1DD1B9;
  height: 64px;
  border-radius: 12px;
  text-align:center ;
  position: relative;
  padding: 20px;
}
.search_mini .loop{
  margin-right: 5px;
}
.arrow-bottom{
  position: absolute;
  right: 25px;
  top: 25px;
}
// SEARCH
.search{
  background: #1DD1B9;
  border-radius: 12px;
  margin: 20px 80px;
  padding: 50px 90px;
}
.search span{
  text-align: center;
  margin-bottom: 50px;
}
.input_search{
  background: #fff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 20px;
  margin: 0 5px;
}
.item_search:not(:first-child){
  width: 20%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 25px;
}
.item_search:first-child{
  width: 40%;
}
.search_buttons{
  margin-top: 15px;
}
.search_buttons a{
  margin: 5px;
}
.item_search .t-15px{
  opacity: 0.3;
}
.item_search svg{
  margin-left:5px;
}
.search_buttons > div{
  width: 35%;
}
.btn-search{
  border-radius: 8px;
  padding: 20px 15px;
  text-align: center;
  flex:1;
}
.btn-secondary-search{
  background: #18a995;
}
.btn-white{
  background: #fff;
}
.btn-white:hover,.btn-secondary-search:hover{
  color: #000!important;
}
.btn-blue{
  background:#2466F6;
  color:#fff;
}
.btn-blue:hover{
  color:#fff!important;
}
.btn-search:hover, .item_preset:hover{
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
}

// PRESETS

.item_preset{
  height: 80px;
  margin: 0 10px;
  padding: 10px 15px;
  background: linear-gradient(227.53deg, #38CDFC -20.97%, #1D85D1 87.01%);
  border-radius: 12px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.item_preset:hover{
  color:#fff!important;
}
.item_preset:not(:last-child){
  flex:1;
}
.item_preset:last-child{
  position: unset;
  width: 80px;
  text-align: center;
  padding: 30px 0;
  background: #00B8F2;
}
.item_preset:not(:last-child) svg{
  position: absolute;
  right: 5px;
  top: 5px;
}
// Banner_lock_down
.banner{
  background: #F57214;
  border-radius: 12px;
  padding: 30px 25px;
}
.banner .left div:first-child{
  margin-bottom: 20px;
}
.banner a{
  text-decoration: underline;
  margin-right: 10px;
}
.banner .right div{
  text-align: center;
}
.btn-banner{
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
}

// safety banner
.safety_banner{
  background: #B1F6A0;
  border-radius: 12px;
  padding: 25px 25px 0 25px;
}
.safety_banner >div{
  width: 70%;
}
.safety_banner span{
  margin-bottom: 10px;
}
.safety_banner a{
  margin: 10px 0 20px 0;
  text-decoration: underline;
}
.safety_banner img{
  margin: 30px 40px 0 0;
}

// calm_banner
.calm_banner{
  background: #000000;
  height: 196px;
}
.calm_banner .left{
  width: 50%;
}
.calm_banner .right{
  position: relative;
  width: 45%;
}
.calm_banner .right .palm_1{
  position: absolute;
  left:0;
  bottom:-20%;
  transform: rotate(-210deg) scale(0.7);
}
.calm_banner .right .palm_2{
  position: absolute;
  left:35%;
  bottom: 0;
  transform: scale(0.9);
}
.calm_banner .right .palm_3{
  position: absolute;
  right: 0;
  transform: rotate(-235deg);
}
// Notes block
.notes{
  background: #000;
  padding: 40px  100px;
  margin: 0 -20px;
}
.notes .title, .notes .notes-nav, .notes .news{
  margin-bottom: 30px;
}
.notes .title > *{
  width: 48%;
}
.nav-tabs{
  border-bottom: none;
  cursor: pointer;
}
.nav-tabs:hover{
  color: #1DD1B9;
}
.news{
  width: 100%;
  height: 600px;
  display: grid!important;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.item-1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item-2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-3{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-4{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gray{
  background: #C4C4C4;
}

//.bot a{
//  border: 0.5px solid #FFFFFF;
//  border-radius: 5px;
//  padding: 5px;
//}
.bot svg{
  margin-left: 5px;
}
// carousel
.slider{
  margin: 30px 0;
}
.slider > a{
  text-decoration: underline;
}
.slider > a svg{
  margin-left: 7px;
}
.nav div{
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0 5px;
  margin: 0 4px;
}
.prev{
  transform: rotate(90deg);
}
.next{
  transform: rotate(-90deg);
}
.owl-carousel .item{
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  margin: 15px 0;
}
.owl-carousel .item:hover{
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
}
.owl-carousel .item a:hover{
  color:#000!important;
}
.owl-carousel-1 img{
  border-radius: 12px 12px 0 0!important;
}
.owl-carousel .owl-item img{
  border-radius: 12px;
}
.heart{
  position: absolute;
  right: 10px;
  top:10px;
  z-index: 1000;
}
.info_slider{
  margin: 0 15px
}
.item-title{
  margin: 10px 15px 5px 15px;
}

.amount-ships{
  color:#2466F6;
  margin: 0 15px 15px 15px;
}

// slider emotions
.owl-carousel-2 .item{

}
.owl-carousel-2 .item img{
  position: relative;
  border-radius: 12px;
}
.owl-carousel-2 .item .title{
  position: absolute;
  left:10px;
  bottom: 10px;
}
.cart_type_boat{
  position: absolute;
  left:10px;
  top: 10px;
  padding: 6px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  z-index: 100;
}
.owl-carousel-3 .cart_type_boat{
  color: #C2A823;
}
.owl-carousel-3 .item{
  box-shadow: none;
}
.owl-carousel-3 .item:hover{
  box-shadow: none;
}
.owl-carousel-3 .item .title span{
  margin: 3px 0;
}
.owl-carousel-3 .item img{
  position: relative;
}
.owl-carousel-4 .item .title{
  position: absolute;
  top:0;
  left:0;
  margin: 20px;
  max-width: 400px;
}

.owl-carousel-5 .item{
  box-shadow: none;
}
.owl-carousel-5 .item:hover{
  box-shadow: none;
}
.owl-carousel-5 .item .title span{
  margin: 3px 0;
}
.owl-carousel-5 .item img{
  position: relative;
}
.owl-carousel-5 .cart_type_boat{
  color: #C22823;
}

.owl-carousel-6 .item{
  box-shadow: none;
}
.owl-carousel-6 .item:hover{
  box-shadow: none;
}
.owl-carousel-6 .item .title span{
  margin: 3px 0;
}
.owl-carousel-6 .item img{
  position: relative;
}
.owl-carousel-6 .cart_type_boat{
  color: #5D23C2;
}
// Detailed page
.images img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.images {
  display: grid!important;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 40px;
}
.images .view_images,.images .item .play_video{
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  border-radius: 8px;
}
.images .item .play_video{
  background: #2466F6;
}
.images .view_images{
  background: #FFFFFF;
}

.images .item{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}

.play_video svg{
  margin-right: 10px;
}
.images .item-1{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.images .item-2{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.content .info > div{
  margin-bottom: 40px;
}
.detailed{
  margin: 10px 80px;
}
.detailed .content .info .title{
  margin-bottom: 40px;
}
.detailed .info .title > div{
  margin-bottom: 15px;
}
.rating > span{
  margin-right: 20px;
}
.detailed a{
  text-decoration: underline;
}

.detailed .options > div{
  background: #F2F4FA;
  border-radius: 12px;
}
.detailed .cards-info{
  margin: -5px -5px 40px -5px;
}

.detailed .full_desc{
  line-height: 25px;
}
.detailed .cards-info .card{
  border: 1px solid rgba(143, 156, 184, 0.3);
  border-radius: 12px;
  padding: 15px;
  height: 130px;
  min-width:170px;
  flex:1;
  position: relative;
  margin:5px
}
.detailed .cards-info .card svg{
  position: absolute;
  top:15px;
  right:15px;
}

.detailed .host .icon{
  min-width: 80px;
  margin-left: 50px;
}

.detailed .host .text > div{
  margin-bottom: 15px;
}


.title_options{
  margin: 40px 0 20px 0
}

.boat_options .option{
  width: 33.33%;
  margin: 15px 0;
}
.boat_options .option > span{
  opacity: 0.6;
}

// Search result
.search-result-btn{
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.5px;
  cursor: pointer;
  max-width: 210px;
}
.info-search-result .buttons  .left{
  width: 65%;
}
.info-search-result .buttons > div:last-child{
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.12);
  border:none;
}
.info-search-result .buttons > div:last-child:hover{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.info-search-result .buttons  .left .search-result-btn{
  margin-right: 15px;
  flex: 1;
}
.info-search-result .buttons{
  margin-top: 40px;
}
.products-search-result{
  margin: 40px -10px 40px -10px;
  flex-wrap: wrap;
}
.products-search-result .product{
  width: ~"calc(25% - 20px)";
  margin: 10px;
  position: relative;

}
.products-search-result .product img{
  border-radius: 12px;
}
.products-search-result .product a:hover{
  color: #000!important;
}
.products-search-result .product a:hover path{
  fill: #EB2A50!important;
}
.owl-carousel-search img{
  height: 14vw;
  width: 50px;
}
.products-search-result .product .title{
  margin-top: 15px
}
.products-search-result .product .title > div{
  margin-bottom: 5px;
}
//


.owl-carousel-search .owl-dots{
  position: absolute;
  left:50%;
  margin-left:-26px;
  bottom: 10px;
}
.owl-carousel-search .owl-dot{
  width: 7px;
  height: 7px;
  background: #fff!important;
  border-radius: 10px;
  opacity: 0.6;
  margin: 0 3px
}
.owl-carousel-search .owl-dot.active{
  opacity: 1;
  border:none;
}
// Pagination
.arrow-left{
  transform: rotate(180deg);
}
.pagination-arrow{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100px;
}
.ty-pagination__selected{
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 100px;
  color:#fff;
  background: #222222;
}
.ty-pagination__selected.first{
  margin-left: 20px;
}
.ty-pagination__selected.last{
  margin-right: 20px;
}
.pg-item{
  color:#222222;
  margin: 0 20px;
}
.content .options .edit{
  position: absolute;
  top: 20px;
  right: 20px;
}
.content .options .boat_order{
  position: relative;
  margin-bottom: 20px;
}
// main order
.main_order, .boat_order{
  padding: 25px;
}
.main_order .items .item svg,.boat_order .item svg{
  margin-right: 15px;
}
.main_order .items .item, .boat_order .item:not(:last-child){
  margin-bottom: 20px;
}
.main_order .items .item .title div, .boat_order .item .title div{
  margin-bottom: 5px;
}
.main_order .items .item .title div:first-child{
  margin-bottom: 10px;
}
.main_order .bot .total{
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);;
}
.main_order .bot .button{
  background: #2466F6;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;

}
.main_order .bot .button a{
  text-decoration: none;
}
.main_order .bot .button a:hover{
  color: #fff!important;
}
  // custom checkbox
.toggle-wrapper {
  min-height: 20px;
  overflow: hidden;
  position: relative;
}
.toggle {
  position: relative;
  display: inline-block;
}
label.toggle-item {
  width: 32px;
  background: #2e394d;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  transition: all .3s ease;
  transform-origin: 20% center;
  cursor: pointer;
}
label.toggle-item::before {
  display: block;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  border-radius: 60px;
  transition: .3s ease;
}
.normal input{
  display: none;
}
label::before, label::after {
    content: '';
    position: absolute;
}
.normal label {
    background: #8F9CB8;
    //box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.2), 0 -3px 4px rgba(0,0,0,0.15);
}
label::before {
  border: none;
  width: 18px;
  height: 18px;
  background: #fff;
  transform: rotate(-25deg);
}
.input_slide:checked + label {
  background: #2466F6;
}
.input_slide:checked + label:before {
  left: 13px;
}



.breadcrumbs{
  margin: 30px 80px 0 80px
}
.ty-breadcrumbs{
 padding: 0;
}
.ty-breadcrumbs svg{
  margin-right: 10px;
  vertical-align: middle;
}
.option svg{
  margin-right: 5px;
}
.option .share{
  margin-right: 30px;
}

@media (max-width: 1240px) {
.header-nav a{
font-size: 15px!important;
line-height: 22px!important;
font-weight: 400;
margin: 0 20px
}
.logo a{
font-size: 18px!important;
line-height: 28px;
font-weight: 800;
}
.add_boat, .weather span, header .ty-select-block__a-item{
font-size: 9px!important;
font-weight: 600;
line-height: 14px;
}
}

/* /my_module */